<nz-collapse nzBordered="false">
  <nz-collapse-panel nzHeader="Tìm Kiếm" nzActive="true" class="ant-bg-antiquewhite">
    <nz-row nzGutter="8" nzFlex>

      <nz-col nzSpan="6" class="mt-3">
        <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.serviceType" name="serviceType"
          nzPlaceHolder="Loại dịch vụ">
          <nz-option *ngFor="let item of dataServiceType" [nzLabel]="item.name" [nzValue]="item.code"></nz-option>
        </nz-select>
      </nz-col>

      <nz-col nzSpan="6" class="mt-3">
        <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.productId" name="productId"
          nzPlaceHolder="Chọn loại hàng hóa">
          <nz-option *ngFor="let item of lstProduct " [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
        </nz-select>
      </nz-col>

      <nz-col nzSpan="6" class="mt-3">
        <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.locationId" name="locationId"
          nzPlaceHolder="Chọn cảng">
          <nz-option *ngFor="let item of lstLocation " [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
        </nz-select>
      </nz-col>

      <nz-col nzSpan="6" class="mt-3">
        <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.contTypeId" name="contTypeId"
          nzPlaceHolder="Chọn loại container">
          <nz-option *ngFor="let item of lstContType " [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
        </nz-select>
      </nz-col>

      <nz-col nzSpan="6" class="mt-3">
        <nz-select nz-col nzShowSearch nzAllowClear [(ngModel)]="dataSearch.statusId" name="statusId"
          nzPlaceHolder="Chọn trạng thái">
          <nz-option *ngFor="let item of dataFilterStatus" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
        </nz-select>
      </nz-col>

    </nz-row>
    <nz-row nzGutter="8" align="center">
      <nz-col nzSpan="24" class="text-center mt-3">
        <button nz-button nzType="primary" (click)="searchData(true)" nzShape="round">
          <i nz-icon nzType="search" nzTheme="outline"></i>Tìm kiếm
        </button>
      </nz-col>
    </nz-row>
  </nz-collapse-panel>
</nz-collapse>

<nz-row class="mb-3 mt-3">
  <nz-radio-group [(ngModel)]="radioValue" nzButtonStyle="solid" (ngModelChange)="onchangeRadioValue($event)">
    <label nz-radio-button nzValue="Salary">Lương</label>
    <label nz-radio-button nzValue="Gas">Dầu</label>
  </nz-radio-group>
</nz-row>

<ng-container *ngIf="radioValue == 'Salary'">
  <nz-row class="mb-3">
    <button class="mr-2" nz-button nzType="primary" nzShape="round" (click)="clickAdd()"
      *ngIf="coreService.checkPermission(enumRole.Add.code)">
      <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm mới Lương
    </button>
    <!-- <button *ngIf="coreService.checkPermission(enumRole.Export_Excel.code)" class="mr-2" nzShape="round" nz-button
      (click)="clickDownloadTemplateExcel()" nzType="default"><i nz-icon nzType="download" nzTheme="outline"></i>Tải
      Template Excel</button>
    <input class="hidden" type="file" id="file" (change)="clickImportExcel($event)" placeholder="Upload file"
      accept=".csv,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
    <label *ngIf="coreService.checkPermission(enumRole.Import_Excel.code)" nz-button nzShape="round" for="file"
      class="lable-custom-file">
      <i nz-icon nzType="upload"></i> Nhập Excel
    </label>
    <button *ngIf="coreService.checkPermission(enumRole.Export_Excel.code)" nz-button nzType="primary" class="mr-3 ml-3"
      (click)="onDownloadExcel()" nzShape="round">
      <i nz-icon nzType="download" nzTheme="outline"></i> Tải Excel </button> -->
  </nz-row>
  <nz-row class="mt-3">
    <nz-col nzSpan="24">
      <nz-table class="mb-3" #ajaxTable [nzData]="listOfData" [(nzPageSize)]="pageSize" [nzLoading]="loading"
        [nzShowPagination]="false">
        <thead>
          <tr>
            <th class="text-center"> Loại dịch vụ</th>
            <th class="text-center"> Hàng hóa</th>
            <th class="text-center"> Khu vực</th>
            <th class="text-center"> Địa điểm</th>
            <th class="text-center"> Loại cont</th>
            <th class="text-center"> Số lượng cont</th>
            <!-- <th class="text-center"> Kiểu lấy hàng</th> -->
            <th class="text-center"> Đơn giá</th>
            <th class="text-center"> Số cộng thêm</th>
            <th class="text-center"> Tác vụ</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of ajaxTable.data">
            <tr style="cursor: pointer;">
              <td>{{ coreService.getEnumElementName(enumData.ServiceType, data.serviceType) }}</td>
              <td>{{data.productName}}</td>
              <td>{{data.__area__?.name}}</td>
              <td>{{data.__location__?.name}}</td>
              <td>{{data.codeContTypeName}}</td>
              <td class="text-right">{{data.quantity}}</td>
              <!-- <td>{{ coreService.getEnumElementName(enumData.PickupType[data.serviceType], data?.pickupType) }}</td> -->
              <td class="text-right">{{data.unitPrice | number}}</td>
              <td class="text-right">{{data.plusNumber | number}}</td>
              <td class="text-center">
                <button *ngIf="data.isDeleted && coreService.checkPermission(enumRole.Update.code)" nz-popconfirm
                  nzPopconfirmTitle="Bạn có chắc muốn hoạt động lại?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="setActiveItem(data)" nz-tooltip nzTooltipTitle="Ngưng hoạt động" nz-button
                  nzShape="circle" class="mr-2 btn-dangerous" nzDanger>
                  <i nz-icon nzType="stop" nzTheme="outline"></i>
                </button>
                <button *ngIf="!data.isDeleted && coreService.checkPermission(enumRole.Update.code)" nz-popconfirm
                  nzPopconfirmTitle="Bạn có chắc muốn ngưng hoạt động?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="setActiveItem(data)" nz-tooltip nzTooltipTitle="Đang hoạt động" nz-button
                  nzShape="circle" class="mr-2 btn-primary">
                  <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                </button>
                <button *ngIf="coreService.checkPermission(enumRole.Update.code)" (click)="clickEdit(data)" nz-button
                  nzShape="circle" nzTooltipTitle="Cập nhật" nz-tooltip class="btn-primary">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
      <nz-pagination [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="rangeTemplate"
        nzShowSizeChanger>
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </nz-col>
  </nz-row>
</ng-container>

<ng-container *ngIf="radioValue == 'Gas'">
  <nz-row class="mb-3">
    <button *ngIf="coreService.checkPermission(enumRole.Add.code)" class="mr-2" nz-button nzType="primary"
      nzShape="round" (click)="clickAdd()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm mới Dầu
    </button>
    <button *ngIf="coreService.checkPermission(enumRole.Export_Excel.code)" class="mr-2" nzShape="round" nz-button
      (click)="clickDownloadTemplateExcel()" nzType="default"><i nz-icon nzType="download" nzTheme="outline"></i>Tải
      Template Excel</button>
    <input class="hidden" type="file" id="file" (change)="clickImportExcel($event)" placeholder="Upload file"
      accept=".csv,.xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
    <label *ngIf="coreService.checkPermission(enumRole.Import_Excel.code)" nz-button nzShape="round" for="file"
      class="lable-custom-file">
      <i nz-icon nzType="upload"></i> Nhập Excel
    </label>
    <button *ngIf="coreService.checkPermission(enumRole.Export_Excel.code)" nz-button nzType="primary" class="mr-3 ml-3"
      (click)="onDownloadExcel()" nzShape="round">
      <i nz-icon nzType="download" nzTheme="outline"></i> Tải Excel
    </button>
  </nz-row>
  <nz-row class="mt-3">
    <nz-col nzSpan="24">
      <nz-table class="mb-3" #ajaxTable [nzData]="listOfData" [(nzPageSize)]="pageSize" [nzLoading]="loading"
        [nzShowPagination]="false">
        <thead>
          <tr>
            <th class="text-center"> Loại dịch vụ</th>
            <th class="text-center"> Hàng hóa</th>
            <th class="text-center"> Khu vực</th>
            <th class="text-center"> Địa điểm</th>
            <th class="text-center"> Loại cont</th>
            <th class="text-center"> Số lượng cont</th>
            <th class="text-center"> Kiểu lấy hàng</th>
            <th class="text-center"> Đơn giá</th>
            <th class="text-center"> Số cộng thêm</th>
            <th class="text-center"> Tác vụ</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of ajaxTable.data">
            <tr style="cursor: pointer;">
              <td>{{ coreService.getEnumElementName(enumData.ServiceType, data.serviceType) }}</td>
              <td>{{data.productName}}</td>
              <td>{{data.__area__?.name}}</td>
              <td>{{data.__location__?.name}}</td>
              <td>{{data.codeContTypeName}}</td>
              <td class="text-right">{{data.quantity}}</td>
              <td>{{ coreService.getEnumElementName(enumData.PickupType[data.serviceType], data.pickupType) }}</td>
              <td class="text-right">{{data.unitPrice | number}}</td>
              <td class="text-right">{{data.plusNumber | number }}</td>
              <td>
                <button *ngIf="data.isDeleted && coreService.checkPermission(enumRole.Update.code)" nz-popconfirm
                  nzPopconfirmTitle="Bạn có chắc muốn hoạt động lại?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="setActiveItem(data)" nz-tooltip nzTooltipTitle="Ngưng hoạt động" nz-button
                  nzShape="circle" class="mr-2 btn-dangerous" nzDanger>
                  <i nz-icon nzType="stop" nzTheme="outline"></i>
                </button>
                <button *ngIf="!data.isDeleted && coreService.checkPermission(enumRole.Update.code)" nz-popconfirm
                  nzPopconfirmTitle="Bạn có chắc muốn ngưng hoạt động?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="setActiveItem(data)" nz-tooltip nzTooltipTitle="Đang hoạt động" nz-button
                  nzShape="circle" class="mr-2 btn-primary">
                  <i nz-icon nzType="play-circle" nzTheme="outline"></i>
                </button>
                <button *ngIf="coreService.checkPermission(enumRole.Update.code)" (click)="clickEdit(data)" nz-button
                  nzShape="circle" nzTooltipTitle="Cập nhật" nz-tooltip class="btn-primary">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
      <nz-pagination [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="rangeTemplate"
        nzShowSizeChanger>
      </nz-pagination>
      <ng-template #rangeTemplate let-range="range" let-total>
        {{ range[0] }}-{{ range[1] }} of {{ total }} items
      </ng-template>
    </nz-col>
  </nz-row>
</ng-container>