<div class="text-center">
  <h2 class="text-title text-up">{{modelTitle}} - {{ dataObject.code }}</h2>
</div>
<nz-tabset *ngIf="dataObject" class="mt-4">
  <nz-tab nzTitle="Thông Tin Chung">
    <div nz-row nzGutter="8" class="mb-4" *ngIf="dataObject.description">
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Mô tả
          </nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <textarea rows="4" nz-input [(ngModel)]="dataObject.description" [readOnly]="true"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-row nzJustify="center">
      <h2>Danh sách sản phẩm trong đơn xuất kho</h2>
      <nz-table nz-col nzSpan="24" class="mb-3" [nzData]="['']" [(nzPageSize)]="pageSize" [nzLoading]="false"
        [nzShowPagination]="false" nzBordered nzTemplateMode>
        <thead>
          <tr>
            <th class="text-center"> Mã lô</th>
            <th class="text-center"> Tên phụ tùng</th>
            <th class="text-center"> Ngày xuất</th>
            <th class="text-center"> Đơn vị cơ sở</th>
            <th class="text-center"> Số lượng tổng trong lô</th>
            <th class="text-center"> Số lượng xuất</th>
            <th class="text-center"> Đơn giá</th>
            <th class="text-center"> Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataObject.lstItem">
            <td class="mw-25">{{data.itemDetailCode}}</td>
            <td class="mw-25">{{data.itemName}}</td>
            <td class="mw-25 text-right">{{data.exportDate | date: 'dd/MM/yyyy'}}</td>
            <td class="mw-25">{{data.baseUnitName}}</td>
            <td class="mw-25 text-right">{{data.itemDetailQuantity | number: '1.0-2'}}</td>
            <td class="mw-25 text-right">{{data.quantity | number}}</td>
            <td class="mw-25 text-right">{{data.price | number}} VND</td>
            <td class="mw-25 text-right">{{(data.price * data.quantity) | number}} VND</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-row>
  </nz-tab>
</nz-tabset>
<div nz-row class="mt-3">
  <div nz-col [nzSpan]="24" class="text-center">
    <button nz-button nzShape="round" nzType="default" class="mr-3" (click)="closeDialog()">
      <i nz-icon nzType="lock" nzTheme="outline"></i> Đóng
    </button>
  </div>
</div>