.limiter {
    width: 100%;
    margin: 0 auto;
  }
  .container-login100 {
    width: 100%;
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }

  .pc {
    width: 100%;
    margin-top: -90px;
  }