<nz-row mat-dialog-title>
  <nz-col nzSpan="24" class="text-center text-up">Danh sách nhân viên - Phòng {{dataObject.name}}</nz-col>
</nz-row>

<nz-row mat-dialog-content class="mt-3">
  <nz-col nzSpan="24" class="mt-1">
    <nz-table nzTemplateMode>
      <thead>
        <tr class="text-nowrap">
          <th class="text-center">STT</th>
          <th class="text-center">Mã nhân viên</th>
          <th class="text-center">Họ & Tên</th>
          <th class="text-center">Email</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of dataEmployees; let i = index">
          <tr>
            <td align="center">{{ i + 1 }}</td>
            <td>{{ data.code }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.email }}</td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </nz-col>
</nz-row>