<div class="mt-2 text-center">
  <span class="fs-18 fw-500 text-primary">{{ modelTitle | uppercase }}</span>
  <br />
</div>
<form nz-form class="ant-advanced-search-form mt-3" #frmAdd="ngForm">
  <nz-row nzGutter="6">

    <nz-col nzSpan="24">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Mã chi phí phát sinh</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24"
          nzErrorTip="Vui lòng nhập mã loại chi phí (1-250 kí tự và không kèm ký tự đặc biệt hoặc khoảng trắng)!">
          <input nz-input placeholder="Nhập mã 1-250 kí tự" [disabled]="isEditItem" [(ngModel)]="dataObject.code"
            name="code" required pattern="^([a-zA-Z0-9]){1,250}$" autocomplete="off" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSpan="24">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Tên chi phí phát sinh</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng nhập tên loại chi phí (1-250 kí tự)!">
          <input nz-input placeholder="Nhập tên chi phí phát sinh" [(ngModel)]="dataObject.name" name="name"
            pattern=".{1,250}" autocomplete="off" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="24">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Chọn loại</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Vui lòng chọn Loại  ">
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataObject.type" name="type" nzPlaceHolder="Chọn loại"
            required>
            <nz-option *ngFor="let item of costsIncurredType" [nzLabel]="item.name" [nzValue]="item.code"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSpan="24">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24"> Mô tả </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input placeholder="Nhập mô tả" [(ngModel)]="dataObject.description" name="description" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>

  </nz-row>
  <nz-row>
    <nz-col nzSpan="24" class="text-center">
      <button nzShape="round" nz-button [disabled]="!frmAdd.form.valid" nzType="primary" class="mr-3"
        (click)="onSave()">Lưu</button>
    </nz-col>
  </nz-row>
</form>