<div nz-row class="mt-3">
  <nz-table class="mb-3" nz-col nzSpan="24" #basicTable [nzData]="listOfData" [nzFrontPagination]="false" nzBordered>
    <thead>
      <tr>
        <th class="text-center"> Tên phân quyền</th>
        <th *ngFor="let item of listKeys">
          <!-- <input class="form-check-input checkbox-role mr-3" type="checkbox" (change)="checkUncheckAll(item)" />  -->
          <label style="font-weight: bold">{{ item.name }}</label>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td class="mw-25">{{ data.name }}</td>
        <!-- <td *ngFor="let item of listKeys" class="text-center"> -->
        <!-- <input *ngIf="data[item.key]" class="form-check-input checkbox-role" style="cursor: pointer;" type="checkbox"
            value="{{ objPermissionRole[objPermissionRole.code]?.isActive }}" id="{{ data.code + '_' + item.key }}" /> -->
        <td *ngFor="let item of listKeys" class="column-check" [nzChecked]="!!objPermissionRole[data[item.key]?.code]"
          (nzCheckedChange)="onItemChecked(data,item)" [nzDisabled]="!!!data[item.key] || !userId">
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>