<div class="mt-2 text-center">
  <span class="fs-18 fw-500 text-primary">THÊM HÀNG HÓA CHO KHÁCH HÀNG {{ data.name | uppercase }}</span>
  <br />
</div>

<nz-collapse nzBordered="false" class="mt-4">
  <nz-collapse-panel nzHeader="Tìm kiếm" [nzActive]="false" [nzDisabled]="false">
    <nz-row [nzGutter]="[8, 24]">
      <nz-col nzSpan="6">
        <input nz-input [(ngModel)]="dataSearch.code" name="code" placeholder="Lọc mã hàng hóa " />
      </nz-col>
      <nz-col nzSpan="6">
        <input nz-input [(ngModel)]="dataSearch.name" name="name" placeholder="Lọc tên hàng hóa" />
      </nz-col>
      <!-- <nz-col nzSpan="6">
        <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.groupProductId" name="groupProductId"
          nzPlaceHolder="Chọn nhóm hàng">
          <nz-option *ngFor="let item of lstOfGroupProduct" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
        </nz-select>
      </nz-col>
      <nz-col nzSpan="6">
        <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.packageTypeId" name="packageTypeId"
          nzPlaceHolder="Chọn loại đóng gói">
          <nz-option *ngFor="let item of lstOfPackageType" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
        </nz-select>
      </nz-col> -->
    </nz-row>
    <nz-row nzGutter="24" align="center" class="mt-2">
      <nz-col nzSpan="24">
        <button nz-button nzType="primary" (click)="searchData(true)">
          <i nz-icon nzType="search" nzTheme="outline"></i>Tìm Kiếm
        </button>
      </nz-col>
    </nz-row>
  </nz-collapse-panel>
</nz-collapse>

<nz-table #customerProductTable [nzData]="listOfData" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  [(nzPageSize)]="pageSize" [nzScroll]="{ y: '48.5vh' }" class="mt-3" [nzShowPagination]="false" nzBordered
  [nzLoading]="loading">
  <thead>
    <tr>
      <th nzWidth="50px" class="text-center" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></th>
      <th class="text-center">Mã Hàng Hóa</th>
      <th class="text-center">Tên Hàng Hóa</th>
      <th class="text-center">Nhóm Hàng</th>
      <th class="text-center">Loại Đóng Gói</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of customerProductTable.data">
      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td (click)="onItemChecked(data.id,!setOfCheckedId.has(data.id))">{{ data.code }}</td>
      <td (click)="onItemChecked(data.id,!setOfCheckedId.has(data.id))">{{ data.name }}</td>
      <td (click)="onItemChecked(data.id,!setOfCheckedId.has(data.id))">{{ data.__groupProduct__.name }}</td>
      <td (click)="onItemChecked(data.id,!setOfCheckedId.has(data.id))">{{ data.__packageType__.name }}</td>
    </tr>
  </tbody>
</nz-table>

<nz-pagination [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="rangeTemplateAddProduct"
  nzShowSizeChanger class="mt-3">
</nz-pagination>
<ng-template #rangeTemplateAddProduct let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} of {{ total }} items
</ng-template>

<nz-row class="mt-3">
  <nz-col nzSpan="24" class="text-center">
    <button [disabled]="checkedLst.length <= 0" (click)="onAddProduct()" nz-button class="ant-btn-blue">
      Thêm
    </button>
  </nz-col>
</nz-row>
