.small-box {
  border-radius: 0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.inner {
  padding: 10px;
  color: #fff !important;

  h3 {
    color: #fff !important;
  }
}

.icon {
  font-size: 60px;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.3s linear;
  color: white;
}

@media (max-width: 767.98px) {
  .icon {
    display: none;
  }
}

.bg-success {
  background-color: #28a745 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-box {
  background-color: #ffc107 !important;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-cyan  {
  background-color: cyan  !important;
}


.bg-secondary {
  background-color: #6c757d !important;
}

.bg-black  {
  background-color: black  !important;
}
.bg-cornflowerblue {
  background-color: cornflowerblue  !important;
}

.bg-yellowgreen  {
  background-color: yellowgreen  !important;
}

.bg-violet  {
  background-color: violet  !important;
}

.bg-teal   {
  background-color: teal   !important;
}


.bg-blueviolet   {
  background-color: blueviolet   !important;
}

.bg-tan   {
  background-color: tan   !important;
}

.bg-firebrick    {
  background-color: firebrick    !important;
}


.wrapperBox {
  .inner {
    h3 {
      font-size: 22px;
      color: white;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
    }
  }

  .icon {
    i {
      font-size: 36px;
    }
  }

}