<div class="mt-2 text-center">
  <span class="fs-18 fw-500 text-primary">{{ modelTitle | uppercase }}</span>
  <br />
</div>
<form nz-form class="ant-advanced-search-form" #frmAdd="ngForm">
  <div nz-row [nzGutter]="6">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label class="text-left" [nzSm]="24" [nzXs]="24" nzRequired>Mã quy cách</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24"
          nzErrorTip="Vui lòng nhập mã quy cách (1-250 kí tự và không kèm ký tự đặc biệt hoặc khoảng trắng)!">
          <input nz-input placeholder="Nhập mã 1-250 kí tự" [disabled]="isEditItem" [(ngModel)]="dataObject.code"
            name="code" required pattern="^([a-zA-Z0-9]){1,250}$" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label class="text-left" [nzSm]="24" [nzXs]="24" nzRequired>Tên quy cách</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập tên quy cách (1-250 kí tự)!">
          <input nz-input placeholder="Nhập tên 1-250 kí tự" [(ngModel)]="dataObject.name" name="name" required
            pattern=".{1,250}" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label class="text-left" [nzSm]="24" [nzXs]="24" nzRequired>Đơn vị</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn đơn vị!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị" [(ngModel)]="dataObject.unitId" name="unitId"
            required (ngModelChange)="onChangeUnit($event)">
            <nz-option *ngFor="let item of lstUnit" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label class="text-left" [nzSm]="24" [nzXs]="24" nzRequired>Số lượng</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập số lượng!">
          <input class="text-left" nz-input placeholder="Nhập số lượng!" [(ngModel)]="dataObject.quantity"
            name="quantity" currencyMask required pattern=".{1,250}" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label class="text-left" [nzSm]="24" [nzXs]="24" nzRequired>Đơn vị cơ sở</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng đơn vị cơ sở!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị cơ sở" [(ngModel)]="dataObject.baseUnitId"
            name="baseUnitId" required (ngModelChange)="onChangeBaseUnit($event)">
            <nz-option *ngFor="let item of lstBaseUnit" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="text-center">
      <button nzShape="round" nz-button [disabled]="!frmAdd.form.valid" nzType="primary" class="mr-3"
        (click)="onSave()">Lưu</button>
    </div>
  </div>
</form>