<nz-collapse nz-col nzSpan="24" [nzBordered]="true" class="mt-2 pr-2 mb-2">
  <nz-collapse-panel nzHeader="Tìm Kiếm" nzActive="true" class="ant-bg-antiquewhite">
    <div nz-row [nzGutter]="8" class="ml-3">
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input nz-input [(ngModel)]="dataSearch.code" name="code" placeholder="Lọc mã" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <input nz-input [(ngModel)]="dataSearch.name" name="name" placeholder="Lọc tên" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-control [nzSm]="24" [nzXs]="24">
            <nz-select nz-col nzShowSearch nzAllowClear [(ngModel)]="dataSearch.statusId" name="statusId"
              nzPlaceHolder="Chọn trạng thái">
              <nz-option *ngFor="let item of dataFilterStatus" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item nzFlex>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <button nzShape="round" nz-button nzType="primary" (click)="searchData(true)">
              <i nz-icon nzType="search" nzTheme="outline"></i>Tìm kiếm
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-collapse-panel>
</nz-collapse>

<nz-row class="mb-3 mt-3">
  <button class="mr-2" nz-button nzShape="round" nzType="primary" (click)="clickAdd()"
    *ngIf="coreService.checkPermission(enumRole.Add.code)">
    <i nz-icon nzType="plus" nzTheme="outline"></i>Thêm mới
  </button>
</nz-row>

<div nz-row class="mt-3">
  <nz-table nz-col nzSpan="24" class="mb-3" #ajaxTable [nzData]="listOfData" [(nzPageSize)]="pageSize"
    [nzLoading]="loading" [nzShowPagination]="false" nzBordered>
    <thead>
      <tr>
        <th class="text-center">Mã</th>
        <th class="text-center">Tên</th>
        <th class="text-center">Mô tả</th>
        <th class="text-center">Trạng thái</th>
        <th class="text-center">Tuỳ chọn</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td>{{ data.code }}</td>
        <td class="mw-25">{{ data.name }}</td>
        <td class="mw-25">{{ data.description }}</td>
        <td class="mw-25 text-center">
          <nz-tag class="tag-status3" [nzColor]="'red'" *ngIf="data.isDeleted">
            Không hoạt động</nz-tag>
          <nz-tag class="tag-status3" [nzColor]="'green'" *ngIf="!data.isDeleted">
            Đang hoạt động</nz-tag>
        </td>
        <td class="text-nowrap text-center">
          <button *ngIf="data.isDeleted && coreService.checkPermission(enumRole.Update.code)" nz-popconfirm
            nzPopconfirmTitle="Bạn có chắc muốn hoạt động lại?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="setActiveItem(data)" nz-tooltip nzTooltipTitle="Ngưng hoạt động" nz-button nzDanger
            nzShape="circle" class="mr-2 btn-dangerous">
            <i nz-icon nzType="stop" nzTheme="outline"></i>
          </button>
          <button *ngIf="!data.isDeleted && coreService.checkPermission(enumRole.Update.code)" nz-popconfirm
            nzPopconfirmTitle="Bạn có chắc muốn ngưng hoạt động?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="setActiveItem(data)" nz-tooltip nzTooltipTitle="Đang hoạt động" nz-button nzShape="circle"
            class="mr-2 btn-primary">
            <i nz-icon nzType="play-circle"></i>
          </button>
          <button *ngIf="coreService.checkPermission(enumRole.Update.code)" (click)="clickEdit(data)" nz-tooltip
            nzTooltipTitle="Chỉnh sửa hãng tàu" nz-button nzShape="circle" class="mr-2 btn-primary">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-pagination [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="searchData()" (nzPageSizeChange)="searchData(true)" [nzShowTotal]="rangeTemplate"
    nzShowSizeChanger>
  </nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    Dòng {{ range[0] }} tới {{ range[1] }} trong tổng số {{ total }} dòng
  </ng-template>
</div>