<div class="text-center">
  <h2 class="text-title text-up">THÔNG TIN SẢN PHẨM TRONG CONTAINER</h2>
</div>

<nz-tabset *ngIf="dataObject" class="mt-4">
  <nz-tab nzTitle="Thông Tin Chung">
    <div nz-row nzGutter="6">
      <nz-collapse nz-col nzSpan="24" [nzBordered]="true" class="mb-2" *ngIf="dataObject.__orderProducts__">
        <nz-collapse-panel nzHeader="Danh sách sản phẩm trong container" nzActive="true" class="ant-bg-antiquewhite">
          <div class="table-scroll-x-order" [ngStyle]="{'min-width': screenWidth > 200 ? '100%' : '' }">
            <nz-table class="table-child" #innerTable [nzData]="['']" [nzShowPagination]="false"
              [nzScroll]="{ x: '2500px', y: null }" nzTableLayout="fixed">
              <thead>
                <tr class="table-thead">
                  <th class="text-nowrap" nzWidth="200px" nzLeft>Tên sản phẩm</th>
                  <th class="text-nowrap">Đóng gói</th>
                  <th class="text-nowrap">Địa điểm lấy hàng</th>
                  <th class="text-nowrap">Địa chỉ lấy hàng</th>
                  <th class="text-nowrap">Thời gian dự kiến đến lấy hàng</th>
                  <th class="text-nowrap">Địa điểm giao hàng</th>
                  <th class="text-nowrap">Địa chỉ giao hàng</th>
                  <th class="text-nowrap">Thời gian dự kiến đến giao hàng</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-tbody" *ngFor="let data of dataObject.__orderProducts__">
                  <td class="text-center" nzWidth="200px" nzLeft>{{ data.__product__?.name}}</td>
                  <td>{{ data.__product__?.__packageType__?.code }}</td>
                  <td>{{ data.fromLocationCode }}</td>
                  <td>{{data.fromLocationAddress }}</td>
                  <td>{{ data.fromETD | date:'dd/MM/yyyy' }}</td>
                  <td>{{ data.toLocationCode }}</td>
                  <td>{{ data.toLocationAddress }}</td>
                  <td>{{ data.toETD | date:'dd/MM/yyyy' }}</td>
                </tr>
              </tbody>
            </nz-table>
          </div>

        </nz-collapse-panel>
      </nz-collapse>
    </div>

  </nz-tab>
</nz-tabset>
<div nz-row class="mt-3">
  <div nz-col [nzSpan]="24" class="text-center">
    <button nz-button nzShape="round" nzType="default" class="mr-3" (click)="closeDialog()">
      <i nz-icon nzType="lock" nzTheme="outline"></i> Đóng
    </button>
  </div>
</div>