<div class="text-center mb-2">
  <span class="fs-18 fw-500 text-primary">{{ modelTitle | uppercase }}</span>
  <br />
</div>
<form nz-form class="ant-advanced-search-form mb-2" #frmAdd="ngForm">
  <div nz-row [nzGutter]="8">
    <!-- <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Mã đơn hàng</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24"
          nzErrorTip="Vui lòng nhập mã từ 1 đến 250 kí tự và không kèm kí tự đặc biệt khoảng cách">
          <input nz-input placeholder="Nhập mã đơn hàng 1-250 kí tự" [(ngModel)]="dataObject.code" name="code"
            [disabled]="isEditItem" pattern="^([a-zA-Z0-9]){1,250}$" required />
        </nz-form-control>
      </nz-form-item>
    </nz-col> -->
    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Số booking</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input nz-input placeholder="Nhập số booking 1-250 kí tự" [(ngModel)]="dataObject.bookingNumber"
            name="bookingNumber" pattern=".{1,250}" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Khách hàng</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn khách hàng!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn khách hàng" [(ngModel)]="dataObject.customerId"
            name="customerId" required (ngModelChange)="onChangeCustomer()">
            <nz-option *ngFor="let item of lstOfCustomer" [nzLabel]="item.code" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Công ty xuất hóa đơn chi hộ</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn công ty xuất hóa đơn chi hộ!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn công ty xuất hóa đơn chi hộ"
            [(ngModel)]="dataObject.invoiceCompanyId" name="invoiceCompanyId" required
            (ngModelChange)="onInvoiceCompany()">
            <nz-option *ngFor="let item of lstOfCustomer" [nzLabel]="item.code" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Mã số thuế công ty xuất hóa đơn chi hộ
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input nz-input placeholder="Nhập mã số thuê công ty xuất hóa đơn chi hộ 1-250 kí tự"
            [(ngModel)]="dataObject.invoiceCompanyTaxNumber" name="invoiceCompanyTaxNumber" pattern=".{1,250}"
            readonly />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Địa chỉ công ty xuất hóa đơn chi hộ
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input nz-input placeholder="Nhập địa chỉ công ty xuất hóa đơn chi hộ"
            [(ngModel)]="dataObject.invoiceCompanyAddress" name="invoiceCompanyAddress" readonly />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Công ty thanh toán hóa đơn chi
          hộ</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn công ty thanh toán hóa đơn chi hộ!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn công ty thanh toán hóa đơn chi hộ"
            [(ngModel)]="dataObject.companyReimbursementId" name="companyReimbursementId" required
            (ngModelChange)="onChangeReimbursementCompany()">
            <nz-option *ngFor="let item of lstOfCustomer" [nzLabel]="item.code" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Công ty xuất hóa đơn cước</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn công ty xuất hóa đơn cước!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn công ty xuất hóa đơn cước"
            [(ngModel)]="dataObject.freightCompanyId" name="freightCompanyId" required
            (ngModelChange)="onChangeFreightCompany()">
            <nz-option *ngFor="let item of lstOfCustomer" [nzLabel]="item.code" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Mã số thuế công ty xuất hóa đơn cước
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input nz-input placeholder="Nhập mã số thuê công ty xuất hóa đơn cước 1-250 kí tự"
            [(ngModel)]="dataObject.freightCompanyTaxNumber" name="freightCompanyTaxNumber" pattern=".{1,250}"
            readonly />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Địa chỉ công ty xuất hóa đơn cước
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input nz-input placeholder="Nhập địa chỉ công ty xuất hóa đơn cước"
            [(ngModel)]="dataObject.freightCompanyAddress" name="freightCompanyAddress" readonly />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Số hợp đồng nội bộ khách hàng
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <input nz-input placeholder="Nhập số hợp đồng nội bộ khách hàng 1-250 kí tự"
            [(ngModel)]="dataObject.internalNumberOfCustomerContracts" name="internalNumberOfCustomerContracts"
            required />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Hãng tàu</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn hãng tàu!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn hãng tàu" [(ngModel)]="dataObject.shipId"
            name="shipId" required>
            <nz-option *ngFor="let item of lstShip" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Cước tiền mặt</nz-form-label>
        <nz-radio-group [(ngModel)]="dataObject.cashCharges" name="dataObject.cashCharges">
          <label nz-radio [nzValue]='true'>Có</label>
          <label nz-radio [nzValue]='false'>Không</label>
        </nz-radio-group>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Ghi chú</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <textarea rows="2" nz-input placeholder="Nhập ghi chú" [(ngModel)]="dataObject.description"
            name="description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Upload</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập lý do !">
          <nz-upload nzListType="picture-card" [(nzFileList)]="dataObject.fileList" [nzAction]="urlAction"
            [nzPreview]="handlePreview" [nzMultiple]="true" (nzChange)="handleChange($event)">
            <div>
              <i nz-icon nzType="plus"></i>
              <div style="margin-top: 8px">Upload</div>
            </div>
          </nz-upload>
        </nz-form-control>
      </nz-form-item>
    </div>
    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
      (nzOnCancel)="previewVisible = false">
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
        <!-- <img [src]="previewImage" [ngStyle]="{ width: '100%' }" /> -->
        <!-- <object [data]="previewImage" type="application/pdf" width="500" height="375">
          <a [href]="previewImage">Download PDF</a>
        </object> -->
        <!-- <embed src="https://ape-devs.s3.ap-southeast-1.amazonaws.com/quocthinh/2023321-ddqs9oi0z2.pdf" width="100vw"
          height="100vh" type='application/pdf'> -->
      </ng-template>
    </nz-modal>

    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Hợp đồng</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" zErrorTip="Vui lòng chọn hợp đồng!">
          <nz-select [disabled]="!dataObject.customerId" nzShowSearch nzAllowClear nzPlaceHolder="Chọn hợp đồng"
            [(ngModel)]="dataObject.customerContractId" name="customerContractId"
            (ngModelChange)="onChangeCustomerContract()" required>
            <nz-option *ngFor="let item of lstOfCusContract" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Dịch vụ vận chuyển</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn dịch vụ vận chuyển!">
          <nz-select [disabled]="!dataObject.customerContractId" nzShowSearch nzAllowClear
            nzPlaceHolder="Chọn dịch vụ vận chuyển" [(ngModel)]="dataObject.serviceType" name="serviceType" required
            (ngModelChange)="onChangeServiceType($event)">
            <nz-option *ngFor="let item of lstOfServiceType" [nzLabel]="item.name" [nzValue]="item.code"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Hình thức vận chuyển</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn hình thức vận chuyển">
          <nz-select nzShowSearch [disabled]="!dataObject.serviceType" nzAllowClear
            nzPlaceHolder="Chọn hình thức vận chuyển" [(ngModel)]="dataObject.transportType" name="transportType"
            (ngModelChange)="onChangeTransportType($event)" required>
            <nz-option *ngFor="let item of lstTransportType" [nzLabel]="item.name" [nzValue]="item.code"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Sản phẩm
        </nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn sản phẩm!">
          <nz-select [disabled]="!dataObject.transportType" nzShowSearch nzAllowClear [(ngModel)]="dataObject.productId"
            name="productId" (ngModelChange)="onChangeProduct($event)" nzPlaceHolder="Chọn sản phẩm">
            <nz-option *ngFor="let item of lstOfCusProduct" [nzLabel]="item.name" [nzValue]="item.productId">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- <nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzRequired class="text-left">Người tạo</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn Người tạo!">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn Người tạo" [(ngModel)]="dataObject.createdBy"
            name="customerId" required (ngModelChange)="onChangeCustomer()">
            <nz-option *ngFor="let item of lstOfCustomer" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col> -->

    <div nz-col [nzSpan]="6">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Người tạo</nz-form-label>
        <nz-form-control [nzSm]="24" [nzXs]="24">
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataObject.createdBy" name="createdBy"
            nzPlaceHolder="Chọn Người tạo"
            [disabled]="!(currentUser?.type?.toLowerCase() === enumData.UserType.Admin.name.toLowerCase())">
            <nz-option *ngFor="let item of lstEmployee" [nzLabel]="item.name" [nzValue]="item.__user__?.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>

  <div class="text-center mb-2" *ngIf="dataObject.customerId && dataObject.transportType && dataObject.serviceType ">
    <span class=" fs-18 fw-500 text-primary">THÊM CONTAINER</span>
    <br />
  </div>
  <nz-collapse nz-col nzSpan="24" [nzBordered]="true" class="mb-2"
    *ngIf=" dataObject.customerId && dataObject.transportType && dataObject.serviceType ">
    <nz-collapse-panel nzHeader=" Danh sách container trong đơn hàng" nzActive="true" class="ant-bg-antiquewhite">
      <form nz-form class="ant-advanced-search-form mb-2" #frmAddCont="ngForm">
        <nz-row [nzGutter]="8">


          <div nz-col [nzSpan]="dataObject.transportType == enumData.TransportType.LCL.code ? 6 : 8">
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Loại container
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn loại container!">
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataChoose.contTypeId" name="contTypeId"
                  nzPlaceHolder="Chọn loại container" required>
                  <nz-option *ngFor="let item of lstOfContType" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="dataObject.transportType == enumData.TransportType.LCL.code ? 6 : 8">
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Số lượng container
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn số lượng container!">
                <input nz-input placeholder="Nhập số lượng container" name="quantity" [(ngModel)]="dataChoose.quantity"
                  pattern=".{1,50}" autocomplete="off" required />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="dataObject.transportType == enumData.TransportType.LCL.code ? 6 : 8"
            *ngIf="dataObject.transportType == enumData.TransportType.LCL.code">
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Khối lượng container
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn khối lượng container!">
                <input nz-input placeholder="Nhập khối lượng container" name="weight" [(ngModel)]="dataChoose.weight"
                  pattern=".{1,50}" autocomplete="off" required />
              </nz-form-control>
            </nz-form-item>
          </div>

          <nz-col [nzSpan]="dataObject.transportType == enumData.TransportType.LCL.code ? 6 : 8">
            <nz-form-item>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Phụ lục hợp đồng</nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn phụ lục hợp đồng"
                  [(ngModel)]="dataChoose.customerContractTermId" name="customerContractTermId"
                  (ngModelChange)="onChangeCustomerContractTerm()" required>
                  <nz-option *ngFor="let item of lstOfCusContractTerm" [nzLabel]="item.name" [nzValue]="item.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>

          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex *ngIf="dataObject.serviceType != enumData.ServiceType.NhapKhau.code">
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Địa điểm lấy container rỗng
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn Địa điểm lấy container rỗng!">
                <nz-select [disabled]="dataObject.serviceType == enumData.ServiceType.NhapKhau.code || 
                !dataChoose.customerContractTermId" nzShowSearch nzAllowClear
                  [(ngModel)]="dataChoose.emptyPickupLocationId" name="emptyPickupLocationId"
                  nzPlaceHolder="Chọn Địa điểm lấy container rỗng" required
                  (ngModelChange)="onChangeEmptyPickupLocation()">
                  <nz-option *ngFor="let item of lstOfCusTakeContLocation" [nzLabel]="item.name" [nzValue]="item.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex
              *ngIf="dataChoose.emptyPickupLocationId && dataObject.serviceType != enumData.ServiceType.NhapKhau.code">
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Địa chỉ lấy container rỗng
              </nz-form-label>
              <span>{{dataChoose.emptyPickupLocationAddress}}</span>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item nzFlex *ngIf="dataObject.serviceType != enumData.ServiceType.NhapKhau.code">
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Thời gian lấy container rỗng
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập Thời gian lấy container rỗng!">
                <nz-date-picker [disabled]="dataObject.serviceType == enumData.ServiceType.NhapKhau.code || 
                !dataChoose.emptyPickupLocationId" [(ngModel)]="dataChoose.emptyPickupTime"
                  nzPlaceHolder="Chọn Thời gian lấy container rỗng" name="emptyPickupTime" [nzShowTime]="timeFmtObj"
                  [nzFormat]="dateFmt" required>
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Địa điểm lấy hàng
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn Địa điểm lấy hàng!">
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataChoose.fromLocationId" name="fromLocationId"
                  nzPlaceHolder="Chọn Địa điểm lấy hàng" required (ngModelChange)="onChangeFromLocation()"
                  [disabled]="!dataChoose.customerContractTermId">
                  <nz-option *ngFor="let item of lstOfCusTakeProductLocation" [nzLabel]="item.name" [nzValue]="item.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex *ngIf="dataChoose.fromLocationId">
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Địa chỉ lấy hàng
              </nz-form-label>
              <span>{{dataChoose.fromLocationAddress}}</span>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Thời gian dự kiến đến lấy hàng
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập Thời gian dự kiến đến lấy hàng!">
                <nz-date-picker [(ngModel)]="dataChoose.fromETD" nzPlaceHolder="Chọn Thời gian dự kiến đến lấy hàng"
                  name="fromETD" [nzShowTime]="timeFmtObj" [nzFormat]="dateFmt" required
                  [disabled]=" !dataChoose.fromLocationId">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Địa điểm giao hàng
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn Địa điểm giao hàng!">
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataChoose.toLocationId" name="toLocationId"
                  nzPlaceHolder="Chọn Địa điểm giao hàng" required (ngModelChange)="onChangeToLocation()"
                  [disabled]="!dataChoose.customerContractTermId">
                  <nz-option *ngFor="let item of lstOfCusDeliveryLocation" [nzLabel]="item.name" [nzValue]="item.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex *ngIf="dataChoose.toLocationId">
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Địa chỉ giao hàng
              </nz-form-label>
              <span>{{dataChoose.toLocationAddress}}</span>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>
                Thời gian dự kiến đến giao hàng
                ({{dataObject.serviceType === 'XuatKhau' ? 'Cut off time' : ''}})
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24"
                [nzErrorTip]="dataObject.serviceType === enumData.ServiceType.XuatKhau.code ? 'Vui lòng Thời gian Cut off time' : 'Vui lòng Thời gian dự kiến đến giao hàng 1'">
                <nz-date-picker [(ngModel)]="dataChoose.toETD"
                  [nzPlaceHolder]="dataObject.serviceType === enumData.ServiceType.XuatKhau.code ? 'Chọn Thời gian Cut off time' : 'Chọn Thời gian dự kiến đến giao hàng 1'"
                  name="toETD" [nzShowTime]="timeFmtObj" [nzFormat]="dateFmt" required
                  [disabled]="!dataChoose.toLocationId">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex *ngIf="dataObject.serviceType != enumData.ServiceType.XuatKhau.code">
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Địa điểm trả container rỗng
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng chọn Địa điểm trả container rỗng!">
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataChoose.emptyReturnLocationId"
                  name="emptyReturnLocationId" nzPlaceHolder="Chọn Địa điểm trả container rỗng" required
                  (ngModelChange)="onChangeEmptyReturnLocation()" [disabled]="!dataChoose.customerContractTermId">
                  <nz-option *ngFor="let item of lstOfCusReuturnContLocation" [nzLabel]="item.name" [nzValue]="item.id">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex
              *ngIf="dataChoose.emptyReturnLocationId && dataObject.serviceType != enumData.ServiceType.XuatKhau.code">
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Địa chỉ trả công container rỗng
              </nz-form-label>
              <span>{{dataChoose.emptyReturnLocationAddress}}</span>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="12">
            <nz-form-item nzFlex *ngIf="dataObject.serviceType != enumData.ServiceType.XuatKhau.code">
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Thời gian trả container rỗng
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Vui lòng nhập Thời gian trả container rỗng!">
                <nz-date-picker [(ngModel)]="dataChoose.emptyReturnTime"
                  nzPlaceHolder="Chọn Thời gian trả container rỗng" name="emptyReturnTime" [nzShowTime]="timeFmtObj"
                  [nzFormat]="dateFmt" required [disabled]="!dataChoose.emptyReturnLocationId">
                </nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Ghép
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataChoose.orderPairedId" name="orderPairedId"
                  nzPlaceHolder="Ghép">
                  <nz-option *ngFor="let item of lstOrder" [nzLabel]="item.bookingNumber"
                    [nzValue]="item.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item nzFlex>
              <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Chọn địa điểm đề xuất ghép chuyến
              </nz-form-label>
              <nz-form-control [nzSm]="24" [nzXs]="24">
                <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataChoose.pairingLocationId" name="pairingLocationId"
                  nzPlaceHolder="Chọn địa điểm đề xuất ghép chuyến">
                  <nz-option *ngFor="let item of lstLocationStock" [nzLabel]="item.name"
                    [nzValue]="item.id"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </nz-row>
        <div nz-row class="mt-2">
          <div nz-col [nzSpan]="24" class="text-center">
            <button nz-button [disabled]="!frmAddCont.form.valid" nzShape="round" nzType="primary"
              (click)="onAddCont()">
              <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm Container
            </button>
          </div>
          <nz-table nz-col nzSpan="24" class="mt-2" [nzData]="['']" [nzShowPagination]="false" nzTemplateMode>
            <thead>
              <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Loại container</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Tác vụ</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of dataObject.lstOrderCont; let i = index">
                <tr *ngIf="data">
                  <td class="text-center">{{i + 1}}</td>
                  <td>{{ coreService.getArrayElementId(lstOfContType, data.contTypeId, 'id') }}</td>
                  <td>{{ data.quantity }}</td>
                  <td>
                    <button nz-button nzType="primary" nzDanger nzShape="circle" nz-tooltip nzTooltipTitle="Xóa"
                      nz-popconfirm nzPopconfirmTitle="Bạn có chắc muốn [XÓA]?" (nzOnConfirm)="onDelete(i)"
                      class="mr-2">
                      <i nz-icon nzType="delete" nzTheme="outline"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>
      </form>

    </nz-collapse-panel>
  </nz-collapse>
  <nz-row>
    <nz-col [nzSpan]="24" class="text-center">
      <button nzShape="round" nz-button [disabled]="!frmAdd.form.valid || dataObject.lstOrderCont?.length == 0 "
        nzType="primary" (click)="onSave()">Lưu</button>
    </nz-col>
  </nz-row>
</form>